<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
						http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">


	<context:annotation-config />
	<context:component-scan base-package="producer_consumer" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/properties/config.properties" />
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
		<property name="awaitTerminationSeconds" value="60" />
	</bean>


	<amq:broker useJmx="false"  persistent="false" useShutdownHook="false" >
		<amq:transportConnectors>
			<amq:transportConnector uri="${url}" />
		</amq:transportConnectors>
	</amq:broker>
	
	<bean id="jmsPooledFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
	</bean>

	<bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${url}"/>
	</bean>
	

	<bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="messageQueue" />
	</bean>

	<bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="messageTopic" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsPooledFactory" />
		<property name="receiveTimeout" value="10000" />
		<property name="defaultDestinationName" value="messageTopic" />
		<property name="pubSubDomain" value="true" />
	</bean>

	<bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="receiveTimeout" value="10000" />
		<property name="defaultDestinationName" value="messageQueue" />
		<property name="pubSubDomain" value="false" />
		<property name="sessionTransacted" value="true"/>
	</bean>

	<jms:listener-container connection-factory="jmsPooledFactory" acknowledge="transacted" concurrency="1" destination-type="topic">
    	<jms:listener destination="messageTopic" ref="consumer" />
    	<jms:listener destination="messageTopic" ref="consumer" />
    	<jms:listener destination="messageTopic" ref="consumer" />
	</jms:listener-container>

	<aop:aspectj-autoproxy />

</beans>
